.widthinput {
  width: 48%;
  margin: 1%;
}

.mysubmit {
  margin: 0 auto;
  display: block;
  width: 25%;
  background-color: mediumslateblue;
  color: aliceblue;
}

.formachka {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
